.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 1rem 2rem;
    color: white;
    z-index: 1000;
    background-color: #004643;
    border-top: 1px solid black ;
  
}
.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}