.font{
    color: black;
    
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-links{
 display: flex;
 gap: 35px;

}
.logo{
    width:100px
}
.background-color{
background-color:#004643;;
}
.padding{
    padding: 1%;
}