
.scrollable{
 display: flex;
 overflow-x: auto;
 gap: 5%;
 padding: 3%;
 scroll-behavior: smooth;
 scrollbar-width: none; 
-webkit-overflow-scrolling: touch;
}
.Item{
    flex: 0 0 auto;
    width: 300px;
    height: 400px;
    background-color:#FFD43B;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
     scroll-snap-align: center;
}
.arrow {
    background-color:#004643;
    color: #FFD43B;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.4s ease;
          
}
.arrow:hover{
    background-color: #ffcd00;
    color: yellow;
    transform:scale(1.1);
}
.arrowpadding{
    padding-top: 20%;
}
.arrowpaddingleft{
    padding-left: 5%;
}
.arrowpaddingright{
    padding-right: 5%;
}
.display{
    display: flex;
    justify-content:space-between ;
}