.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 1rem 2rem;
    color: white;
    z-index: 1000;
   background: linear-gradient(90deg, #235B5A, #3BBAC6);
    
  
}
.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
.link:hover{
    color: #f6b911;
}